:root{
  --primary:#00ADB5;
  --background:#222831;
  --secondary:#393E46;
  --text:#EEEEEE;
  --textSecondary:rgba(255, 255, 255, 0.592);
  --shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --border:#ffffff4a;
}
*{
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin:0;

}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--text)

}
/* background  */
.bgprimary{
  background-color: var(--background);
}
.bgsecondary{
  background-color: var(--secondary);
}
/* primary text */
.tprimary{
  color: var(--primary);
}
.tsecondary{
  color:var(--textSecondary);
}
/* primary btn */
.btn-primary{
  border-radius: 50px;
  background-color:var(--primary) !important;
  border:2px solid transparent !important;
  padding:10px 30px !important;
  font-weight:bold;
}
.btn-primary:hover{
  background-color:#00acb520 !important;
  border:2px solid var(--primary) !important;
}
.btn-primary:focus{
  box-shadow: none !important;
}
.btn-primary:active{
 background-color:var(--secondary) !important;
}
/* secondary btn */
.btnSecondary{
  background-color:transparent !important;
  border:2px solid var(--primary) !important;
}
.btnSecondary:hover{
  background-color:var(--primary) !important;
  color:var(--text) !important;
}
/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--secondary) !important; 
  border-radius: 20px;

}
.sidebar{
  border-right:1px solid var(--border);
  min-height:100vh;
  background-color: var(--background);

}
.drawer {
  position: fixed;
  left: 0;
  top: 60px;
  border:1px solid white;
}

.dashboard .formcontainer {
  max-width: 100vw !important;
}
@media (max-width: 700px) {
  .tab-pane {
    padding: 10px 0 !important;
  }
}
.drawerList a {
  all: unset;
}
.top-btn{
  position: fixed;
  right: 10px;
  top: 10px;

}